<!DOCTYPE html>

<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- 여기에 기본값을 추가합니다 -->
  <title>My page</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/style.small.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
  <%- include('partials/header') %>
  
  
 
    <%- body %>


  <%- include('partials/footer') %>
  <script src="/js/functions.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>
